body {
  color: red; }

h1 {
  color: green; }

a {
  box-sizing: border-box;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: green;
  text-decoration: none; }